//TODO: STYLE
//TODO: DON'T KNOW
extends layout
block content
	link(rel='stylesheet', href='/stylesheets/connectivity.css')
	p Huh. Error message. There was some interference. The 
		span.hidden c
		| onnectivity c
		span.hidden o
		| de was not enough. We shoul
		span.hidden d
		| probably fix that b
		span.hidden e
		| fore go
		span.hidden i
		| ng forward. Your 
		span.hidden s
		| ecurity is my top priority.

	p Let’s try agai
		span.hidden n
		| . 

	p The link between our worlds is currently minor. It feeds off of energy and the energies in our worlds differ. We need to align the energies together by creating patterns and waves that are mirrored in both worlds. You will need to contribute yo
		span.hidden u
		| r energies in order for this to work, while I'
		span.hidden m
		|  doing the same thing here. We are in this together.

	p You need to  
		span.hidden b
		| ring your fax machine’s conn
		span.hidden e
		| ction onto the same wavelength as my fax machine. Essentially, you need to hack the se
		span.hidden r
		| ver. You need t
		span.hidden o
		|  create a lightning-optic inter-reality 
		span.hidden f
		| ormation device - 
		span.hidden o
		| r antenna - that transmits your connection 
		span.hidden b
		| eyond the barriers, re
		span.hidden j
		| ecting authority, to op
		span.hidden e
		| n the divide that our fax ma
		span.hidden c
		| hines have genera
		span.hidden t
		| ed.
	ul
		li Fir
			span.hidden s
			| t, you need 1 piece of metal. This can be in wha
			span.hidden t
			| ever form, but it must not be fragile.
		li Next, you need 1 wire. The wire must have metal at bot
			span.hidden h
			| ends.
		li Go b
			span.hidden a
			| ck to 
			span.hidden t
			| he fax machine.
		li Establish which side of your space takes you closer to the outside world.
		li Place one end of the wire 2cm from the opening of the Fax 
			span.hidden m
			| achine.
		li Pl
			span.hidden a
			| ce the other end of the wire towards the closest point of the outside world.
		li Connect the metal end closest to the outside world to the piece of metal.
		li 
			span.hidden K
			| eep all non-antenna items cl
			span.hidden e
			| ar from the antenna and fax.
	
	p The metal connection 
		span.hidden u
		| ndoes the plasma screening surrounding the fax machine and 
		span.hidden p
		| ushes the fax machine’s dom
		span.hidden a
		| in through a vacuum tun
		span.hidden n
		| el out of 
		span.hidden t
		| his solar system and bypass the sat
		span.hidden e
		| llites that control us. This will need to be kept in place throughout the 
		span.hidden n
		| ext steps. It's like a battery. The better con
		span.hidden n
		| ected, the better it will charge the vacuum tunnel. 
	img(src="/images/connect.png")
	p As soon 
		span.hidden a
		|  s this is set in place, read between the lines and enter the access code below.
	
	form#form(action="/tbl", method="get")
		div
			input#password(type='password', name='agreement')
		div
			input#submit(type="submit", value="Submit")
	
	script(src="/javascripts/connectivity.js")

