extends layout
block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  audio#audio(controls='', autoplay='')
    source(src='/audio/TimMonologue.mp3', type='audio/mp3')

  
  hr
  
  a.hidden#open-wormhole(href='https://us02web.zoom.us/j/2865463273?pwd=WWMyayt3SzZjNDVvTTNRaklSNisyUT09 ', target="_blank")
    img.hidden(src="/images/green-button.png" alt="button" width="200px")
  
  a.hidden#unplug-machine(href='https://us04web.zoom.us/j/6280696735?pwd=ZVArY3d5ZTg5azZGK0RiZ1k3ZXlidz09', target="_blank")
    img(src="/images/red-button.png" width="200px" alt="stop")

  script(src="/javascripts/index.js")