extends layout
block content
  audio#audio(controls='', autoplay='')
    source(src='/audio/audio.mpeg', type='audio/mpeg')
  hr
  a#fax(href='http://yourworldoftext.com/openwhormhole', hidden='')
    img(src="/images/fax.jpg" alt="Fax")
  a#plug(href='http://yourworldoftext.com/unplugmachine', hidden='')
    img(src="/images/endoll.jpeg" width="50" alt="Endoll")

  script(src="/javascripts/index.js")


