extends layout
block content
	link(rel='stylesheet', href='/stylesheets/tbl.css')
	audio#audio(controls='', visibility='hidden')
		source(src='/audio/audio.mp4', type='audio/mpeg')
	audio#incomingCall(controls='', visibility='hidden')
		source(src='/audio/phone.mp3', type='audio/mp3')
	
	
	
	img#call(src="/images/telephone.jpg", alt="")
	
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")
	img.fax(src="/images/spam.png", alt="")

	.container
		p text

		button#next Click Here for the Next Step

	script(src="/javascripts/tbl.js")