extends layout
block content
	link(rel='stylesheet', href='/stylesheets/tbl.css')
	audio#audio(controls='', visibility='hidden')
		source(src='/audio/audio.mp4', type='audio/mpeg')
	audio#incomingCall(controls='', visibility='hidden')
		source(src='/audio/phone.mp3', type='audio/mp3')
	
	
	
	img#call(src="/images/telephone.jpg", alt="")
	
	img.fax(src="/images/stamp1.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp2.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp3.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp4.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp5.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp6.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp7.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp8.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp9.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp10.jpg", alt="", width="400px")
	img.fax(src="/images/spam.png", alt="", width="400px")
	img.fax(src="/images/stamp11.png", alt="", width="400px")

	.container
		p That’s better. The connection should hold strong now. I’m sorry, I know we don’t have much time so I will keep this brief. My name is Tim Berners-Lee. I am 65 years old. Born in London, never married, dedicated to communication. Grey-ish brown hair, blue eyes. People tell me I’m good looking. I grow potatoes in my garden. Potatoes provide energy that cannot be controlled by external sources. You need to be able to trust your energy. You need to be able to break free from author-		
		p	I’m sorry. I get carried away. I don’t do this often. The most important thing to know about me is that I’m honest, highly intelligent and stuck in a world like yours. 
		p	We have cars. We send letters. We can type. We have movies. We can call. We have pagers. We still fax. 
		p We are the same, you and I, but different.
		p	Please don’t waste time wondering how the fax machines work. I took care of that. You don’t need to worry. Everything is cared for. Trust me. <<-- hyperlink. Don’t worry. 
		p	I’ve done all the work. I have all the equations. I know what we need to do. But I can’t do it without your help. You are the only person who can help me. And if you do what I say, we can open the wormhole. Together, we will travel through worlds.

		button#next Click Here for the Next Step

	script(src="/javascripts/tbl.js")