/* 1000 tbls */

body{
    text-align: center;
    background-color: #c9c6c1;
}

#open-wormhole {
    position: absolute;
    left: 30%;
    bottom: 50%;
    height: auto;
}

#unplug-machine {
    position: absolute;
    left: 60%;
    bottom: 55%;
    height: auto;
}