body {
  padding: 50px;
  font-family: "Courier New";
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  text-align: left;
}

a {
  color: #00B7FF;
}

.hidden {
  color: white;
}


.hidden::selection {
  background-color: #B2D6FD;
  color: white; 
}
