/* 1000 tbls */

body{
	background-image: url("/images/tbl.png");
	background-size: 100px auto;
	background-blend-mode: difference;
}

#clickcontainer {
	margin-left: 90%;
	padding: 2%;
	background-color: yellow;
	text-align: center;
}

.container {
	margin-top: 15%;
	/*background-color: blue;*/
	background: rgba(0,0,255,0.7);
	color: white;
	
	padding: 1%;
}

audio {
	display: none;
}